body{
    background-color: black;
    overflow-x: hidden; /* This will hide the horizontal scrollbar */
}



html {
    zoom: 0.9; /* Old IE only */
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}




.custom-background {
    position: relative;
    height: 100%; /* Adjust as needed */
    border: 0;
}

.custom-background::before {
    content: "";
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/black2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0px);
    border: 0;
}

.full-height {
    height: 100vh; /* Full viewport height */
}

.half-height {
    height: 30vh; /* Half of viewport height */
}

.p1 {
    position: relative; /* Change from 'center' to 'relative' */
    font-family: 'Ubuntu', sans-serif;
    z-index: 3; /* Ensure the paragraph is above the blurred background */
    font:bold;
    top:50px;
    font-size: 25px;
    color:white;
}





.full-height {
    height: 100vh; /* Full viewport height */
}
.half-height {
    height: 30vh; /* Half of viewport height */
}


.card{
    position: relative;
    top: 100px;
    left:50px;
 
}

 .custom-height {
    height: 300px; /* Set the desired height here */
    border: 1px solid #ddd; /* Optional: Add a border for better visualization */
  }




.icons {
    position: relative;
    top: 100px;
    left: 100px;
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}




.h33{
    position:relative;
    left: 530px;
    top: 10px;
   
  
}